<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
<style>
 table { width: 600px; border: 2px solid orangered; text-align: center; } thead { background-color: orangered; }
</style>
</head>
<body>
    <div id="app">
        <p v-for="(item, index) in items">
            {{item+':'+index}}
        </p>


      <table>
<thead>
    <tr>
        <td>姓名</td>
        <td>年龄</td>
        <td>性别</td>
    </tr>
</thead>
<tbody>
    <tr v-for="p in array">
        <td>{{p.name}}</td>
        <td>{{p.age}}</td>
        <td v-text="p.sex"></td>
    </tr>
</tbody>

      </table>


    </div>

<script src="../../js/vue.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            items:['I','LOVE','YOU'],
            array:[{'age':18,'sex':'man','name':'Leo'}]
        }
    })
</script>
</body>
</html>